
body {
	margin: 0;
  font-family: Algerian;
  /*font-family: Impact;*/
	font-weight: normal;

  background-image: url("../img/black wood.jpg");
  color: white;
	/*background-color: black;*/
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/* HEADER */

#header {
  height: 20%;
	width: 100%;
  clear:both;
	/*background-color: black;*/
  margin-bottom: 40px;
}

#header .left {
  height: 100%;
  overflow: hidden;

}
#header .left img {
  margin: 5px;
	height: 100%;
}

#header .small-icon {
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}
#header .right {
  float: right;
  width: 100px;
  height: 100%;
}

/* NAVBAR */

#navbar {
	width: 100%;
  height: 10%;
  clear: both;
  display: inline;
  text-align: center;
  vertical-align: center;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navbar li {
  display: inline;
  margin: 20px;
}

#navbar a:hover {
  color: #FC9300;
}

/* CONTENT */
#content {
  height:60%;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  padding: 25px;
  text-align: center;
}

/* FOOTER */
#footer {
  height: 10%;
}






/* PARALLAX */
section.module:last-child {
	margin-bottom: 0;
}

section.module.h2 {
	margin-bottom: 40px;
	font-size: 30px;
  font-weight: normal;
}

section.module.p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  background-color: #A8A8A8;

  padding: 60px 50px;
}
section.module.content h2 {
  font-weight: normal;
  text-align: center;
}
section.module.parallax {
  font-family: "Algerian";
  font-weight: normal;
  height: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 5%;
}
section.module.parallax h1 {
  color: white;
  font-weight: normal;
  position: relative;
  vertical-align: center;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h2 {
  color: white;
  font-weight: normal;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/black wood.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/oil-rig-background.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/safety-background.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/internet-background.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
